*{
    box-sizing: border-box;
}

.card{
    height: 3rem;
    background: lightcyan;
}

.header{
    grid-area: header;
    background: red;
}

.sidebar{
    grid-area:sidebar;
    background: orange;
}


.footer{
    grid-area: footer;
    background: lightpink;
}

.container{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap:5px;
    grid-template-areas:
    "header header header header"
    "sidebar item1 item2 item3"
    "sidebar item4 item5 item6"
    "sidebar item7 item8 item9"
    "sidebar item10 item11 item12"
    "footer footer footer footer"
}