*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.card{
    width:80%;
    height: 60vh;
    background: #ffa07a;
    position: relative;
    border-radius: 50px;
    

}

.photo{
    display: block;
    width: 100%;
}

.images{
    height: 70%;
    background: lightgray;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
}

.price{
    position: absolute;
    background: black;
    width: 100%;
    top: 0;
    text-align:center;
    color: white;
}

.color{
    position: absolute;
    background: lightgray;
    width: 100%;
    bottom: 0;
    text-align:center;
    margin: 0 0 2px;
}

.size-item1{
    color: red;
}
.size-item2{
    color: green;
}
.size-item3{
    color: black;
}

.promo{
    position: absolute;
    background: lightgray;
    width: 100%;
    top:2rem;
    left:0;
    text-align:center;
    border-radius: 2px;
}

@keyframes animacja{
    0% {left:0%;}
    25% {left:25%;}
    50% {left:50%;}
    75% {left:75%;}
    100% {left:100%;}
}
.prom{
    position: absolute;
    left: 0;
    animation: animacja 5s infinite;
    color: red;
}

.desc{
    position: relative;
    top:70%;
    justify-content: center;
}


